.menu-container {
  grid-column: 1/12;
  grid-row: 1/2;
  margin: 12px 0;
}

.menu-container {
  width: 100%;
  text-align: center;
}

.logo-container {
  width: 100%;
  text-align: center;
  height: 0;
  position: absolute;
  top: 36px;
}

.logo-sch {
  border-radius: 50%;
  border: 5px solid #ffff;
  height: 80px;
  width: 80px;
}

.cart-site {
  grid-column: 10/11;
  grid-row: 13/14;
  padding-left: 110px;
}

.card-site {
  grid-column: 2/11;
  grid-row: 4/15;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.loading {
  grid-column: 5/8;
  grid-row: 7/9;
}
.spinner {
  border: 4px solid rgba(226, 108, 12, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: rgb(255, 115, 0);

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn {
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
}

.btn-remove {
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
}

.btn-remove:hover {
  color: #fff;
  background-color: red;
}

.btn:hover {
  color: #fff;
  background-color: rgba(17, 94, 175, 1);
}

.cuerpo-detail {
  padding: 10px;
  height: 120px;
  width: 120px;
}

.pie-detail {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #202020;
  border-radius: 0 0 0 0;
  padding: 10px;
  text-align: center;
  color: #ffff;
}

.detail-site {
  width: 100%;
  border-radius: 22px;
  background-color: #ffff;
  margin: 8px 0;
}

.count {
  text-align: center;
}

.item-site {
  grid-column: 4/9;
  grid-row: 5/8;
}

.cantidad {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serifF;
}

.form {
  grid-row: 8/12;
  grid-column: 1/3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 72px;
}

.cart-number {
  text-decoration: none;
  color: rgb(255, 115, 0);
  position: fixed;
}

.back {
  grid-column: 5/8;
  grid-row: 6/9;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: large;
}
