* {
  padding: 0;
  margin: 0;
}
html {
  height: 100vh;
  background: #2c2a2a;  
}
#root .root {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 10px;
  height: 100vh;
}
