.tarjeta {
  width: 100%;
  /* border: px solid #202020; */
  border-radius: 22px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #ffff;
  margin: 8px 0;
}
.tarjeta:hover {
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
}
.titulo {
  font-size: 20px;
  padding: 10px 10px 0 10px;
  text-align: center;
}
.cuerpo {
  padding: 10px;
}
.pie {
  background: #202020;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
}
.pie a {
  text-decoration: none;
  color: white;
}
.pie:hover {
  background: rgba(17, 94, 175, 1);
  color: white;
}
