.menu-list {
  display: inline-flex;
  justify-content: space-around;
  width: 25%;
  text-align: center;
  border-radius: 26px;
  background-color: #202020;
  overflow: hidden;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-left: 0;
}

.menu-list-item {
  text-decoration: none;
  list-style-type: none;
}

.menu-list-item {
  padding: 14px;
  width: 100%;
  list-style: none;
}

.menu-list-item:hover {
  background-color: rgba(17, 94, 175, 1);
  transition: 0.2s;
}

.hoverMenu {
  text-decoration: none;
  color: #fff;
}
